header.main-header{
  width: 100%;
  display: flex;
  
  padding: 10px 25px;
  box-shadow: 1px 5px 15px;
  justify-content: space-between;
  align-items: center;
}

ul.navBar{
  list-style:none;
  display:flex;
  margin-right: 100px;
}

ul.navbar li{
  margin-right: 15px;
}

.contImg{

  width: 80px;
}

.contImg img{

  width: 100%;
}


.card-prod{

  float: left;
  border: 1px solid black;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}